body{
    background-color:rgb(221, 132, 88);
font-family:'Times New Roman', Times, serif;
display:flex;
justify-content:center;
height:100vh;
margin:0;
} 


.card {
    background-color:beige;
    border-radius:12px;
    box-shadow:0 4px 12px rgb(39,245,121)
padding:30px;
max-width:400px;
text-align:center;
} 

.card img {
border-radius:50%;
width:120px;
height:120px;
object-fit:cover;
margin-bottom:20px;
}


.card h1 {
  font-size: 24px;
  margin: 10px 0;
  color: #39373B;
}

.card h2 {
  font-size: 18px;
  color: #817D85;
  margin-bottom: 20px;
}

.card p {
  font-size: 16px;
  color: #4E4E4F;
  margin-bottom: 20px;
}

.card ul {
  list-style: none;
  padding:0;
  margin-bottom: 20px;
}

.card ul li {
  background-color:#93e9aa;
  margin: 5px 0;
  padding:8px;
  border-radius: 20px;
}

.card a {
 text-decoration: none;
 color: #8fc4ec;
 font-weight: bold;
}
